<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><meta charset="UTF-8"><link rel="stylesheet" href="/css/style.css"><title>Редагувати факультет</title></head>
<body>
<h1>Редагувати факультет</h1>
<form th:action="@{'/faculties/edit/' + ${faculty.id}}" th:object="${faculty}" method="post">
    <input type="hidden" th:field="*{id}" />
    <label>Назва:</label>
    <input type="text" th:field="*{name}" /><br>
    <button type="submit">Зберегти</button>
</form>
<a href="/faculties">Назад</a>
</body>
</html>
