<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <title>Створити коефіцієнт предмету</title></head>
<body style="padding: 30px">
<h1>Створити коефіцієнт предмету</h1>
<form th:action="@{/subject-coefficients/create}" th:object="${subjectCoefficient}" method="post">
    <label>Коефіцієнт:</label>
    <input type="number" step="0.01" th:field="*{coefficient}" /><br>

    <label>Предмет:</label>
    <select th:field="*{subjectId}">
        <option th:each="subject : ${subjects}"
                th:value="${subject.id}"
                th:text="${subject.name}">
        </option>
    </select><br>

    <label>Факультет:</label>
    <select th:field="*{facultyId}">
        <option th:each="faculty : ${faculties}"
                th:value="${faculty.id}"
                th:text="${faculty.name}">
        </option>
    </select><br>

    <button type="submit">Зберегти</button>
</form>
<a href="/subject-coefficients">Назад</a>
</body>
</html>
