<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <title>Редагувати коефіцієнт предмету</title></head>
<body style="padding: 30px">
<h1>Редагувати коефіцієнт предмету</h1>
<form th:action="@{'/subject-coefficients/edit/' + ${subjectCoefficient.id}}" th:object="${subjectCoefficient}" method="post">
    <input type="hidden" th:field="*{id}" />

    <label>Коефіцієнт:</label>
    <input type="number" step="0.01" th:field="*{coefficient}" /><br>

    <button type="submit">Зберегти</button>
</form>
<a href="/subject-coefficients">Назад</a>
</body>
</html>
