<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Додати заявника</title>
    <link rel="stylesheet" href="/css/style.css">
    <meta charset="UTF-8">
</head>
<body>
<h1>Новий заявник</h1>
<form th:action="@{/applicants/create}" th:object="${applicant}" method="post">
    <label>ПІБ:</label>
    <input type="text" th:field="*{fullName}" required/><br/>
    <label>Дата народження:</label>
    <input type="date" th:field="*{birthDate}" required/><br/>
    <label>Додатковий бал:</label>
    <input type="number" step="0.01" th:field="*{additionalScore}"/><br/>
    <button type="submit">Зберегти</button>
</form>
<a href="/applicants">Назад до списку</a>
</body>
</html>
